on: [push, pull_request, workflow_dispatch]

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:3.0
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache west modules
        uses: actions/cache@v2
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('manifest-dir/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: West Init
        run: west init -l config
      - name: West Update
        run: west update
      - name: West Zephyr export
        run: west zephyr-export
      - name: West Build (Corne MDK Left)
        run: west build -s zmk/app -b nrf52840_mdk_usb_dongle -- -DSHIELD=corne_mdk_left -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"
      - name: Corne MDK DTS File
        if: ${{ always() }}
        run: cat -n build/zephyr/nrf52840_mdk_usb_dongle.dts.pre.tmp
      - name: Corne MDK Left Kconfig file
        run: cat build/zephyr/.config | grep -v "^#" | grep -v "^$"
      - name: Rename zmk.uf2
        run: cp build/zephyr/zmk.uf2 SHIELD_NAME_left_BOARD_NAME.uf2
      - name: Archive (Corne MDK Left)
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: corne_mdk_left_nrf52840_mdk_usb_dongle.uf2
      - name: West Build (Corne MDK Right)
        run: west build --pristine -s zmk/app -b nrf52840_mdk_usb_dongle -- -DSHIELD=corne_mdk_right -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Corne MDK Right Kconfig file
        run: cat build/zephyr/.config | grep -v "^#" | grep -v "^$"
      - name: Rename zmk.uf2
        run: cp build/zephyr/zmk.uf2 corne_mdk_right_nrf52840_mdk_usb_dongle.uf2
      - name: Archive (Corne MDK Right)
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: corne_mdk_right_nrf52840_mdk_usb_dongle.uf2
